<?php // -*-html-*- ?>
<!-- $Id: savepage.tmpl,v 1.7 2002/02/11 00:37:55 carstenklapp Exp $ -->
<?php
    $signatureURL = $Theme->getImageURL('signature');
    if ($request->getArg('lockchanged'))
        $LockChangedMsg = ($page->get('locked'))
                           ? _("Page now locked.")
                           : _("Page now unlocked.");
    else
        $LockChangedMsg = "";
?>
<p><?=fmt("Thank you for editing %s.", WikiLink($page))?><br />
<?=_("Your careful attention to detail is much appreciated.")?></p>

<?php if (!empty($WARNINGS)) { ?>
  <p><strong><?=_("Warning!")?></strong> <?= $WARNINGS ?></p>
<?php } ?>

<?php if ($signatureURL) { ?>
  <p><img src="<?=$signatureURL?>" id="signature" /></p>
<?php } ?>

<?=$LockChangedMsg?>
<hr noshade="noshade" />
<?= Template('browse') ?>
